/*Created By admin on 2020/4/25*/

html,
body,
div,
dl,
dt,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
section,
header,
main,
footer,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
fieldset,
img {
    border: 0;
    box-sizing: border-box;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
清除几个常用字体标签的字体样式 <<
                               <<
                               <<
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
i,
em,
b {
    font-style: normal;
}

address,
caption,
cite,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#root {
    width: 100vw;
    height: 100vh;
    color: #ccc;
}

.page-container {
    width: 100vw;
    height: 100vh;
}

.flex-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flex-center-x {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-end-x {
    align-self: flex-end;
}
